version: '3'

services:
  php-fpm:
    build: config/
    volumes:
      - $PWD:/ibexa/

  ezdb:
    image: mariadb:10
    restart: always
    volumes:
      - $PWD/config/mariadb/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
    environment:
      - MARIADB_USER=ez
      - MARIADB_PASSWORD=ez
      - MARIADB_ROOT_PASSWORD=ez
      - MARIADB_DATABASE=ez
  
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
    
  httpd:
    image: httpd:2.4-alpine
    volumes:
      - $PWD:/ibexa/
      - $PWD/config/httpd/httpd.conf:/usr/local/apache2/conf/httpd.conf
      - $PWD/config/httpd/conf/extra/httpd-vhosts.conf:/usr/local/apache2/conf/extra/httpd-vhosts.conf
    ports:
      - "82:80"
    # depends_on:
    #   ibexa:
    #     condition: service_healthy